#### Pandas

In [21]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3,4]})

In [22]:
df.head(5)

   A
0  1
1  2
2  3
3  4

## Series

In [23]:
import numpy as np
import pandas as pd

In [24]:
data = np.random.randn(5)
print(type(data))
s = pd.Series(data, index=["a","b","c","d","e"])
s

<class 'numpy.ndarray'>

a   -0.561409
b    0.845228
c    1.311649
d    0.889418
e    1.287282
dtype: float64

In [25]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [26]:
s_index = pd.Series(np.random.randn(5))
s_index

0   -0.590015
1   -1.355566
2    1.054634
3   -0.407054
4    0.153158
dtype: float64

In [27]:
s_index.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
d = {"b":1,"a":0,"c":2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [31]:
d = {"a":0.0, "b":1.0, "c":2.0}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [32]:
pd.Series(d, index=["b","c","d","a"])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [33]:
pd.Series(5.0, index=["a","b","c","d","e"])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [34]:
s[0]

-0.5614086608290744

In [35]:
s[:3]

a   -0.561409
b    0.845228
c    1.311649
dtype: float64

In [36]:
print(s)

a   -0.561409
b    0.845228
c    1.311649
d    0.889418
e    1.287282
dtype: float64

In [37]:
s[s > s.median() ]

c    1.311649
e    1.287282
dtype: float64

In [38]:
s[[4,3,1]]

e    1.287282
d    0.889418
b    0.845228
dtype: float64

In [41]:
s[[0,1]]

a   -0.561409
b    0.845228
dtype: float64

In [43]:
np.exp(s)

a    0.570405
b    2.328508
c    3.712291
d    2.433714
e    3.622927
dtype: float64

In [45]:
np.exp(100)

2.6881171418161356e+43

In [46]:
s.describe()

count    5.000000
mean     0.754434
std      0.766864
min     -0.561409
25%      0.845228
50%      0.889418
75%      1.287282
max      1.311649
dtype: float64

In [47]:
s.dtype

dtype('float64')

In [48]:
s.array

<PandasArray>
[-0.5614086608290744,  0.8452278946845782,  1.3116492574068044,
  0.8894184119897067,  1.2872823429333247]
Length: 5, dtype: float64

In [51]:
type(s)

pandas.core.series.Series

In [50]:
# series is like ndarray but if you want an actual control over them use series.to_numpy()
s_to_numpy = s.to_numpy()
print(type(s_to_numpy))
s_to_numpy

<class 'numpy.ndarray'>

array([-0.56140866,  0.84522789,  1.31164926,  0.88941841,  1.28728234])

In [52]:
s

a   -0.561409
b    0.845228
c    1.311649
d    0.889418
e    1.287282
dtype: float64

In [53]:
# Series is also like a fixed dictionary

s["a"] = 12.0
print(s)

a    12.000000
b     0.845228
c     1.311649
d     0.889418
e     1.287282
dtype: float64

In [54]:
"e" in s

True

In [55]:
"f" in s

False

In [57]:
s["f"]

KeyError: 'f'

In [58]:
s.get("f")

In [59]:
s.get("f", np.nan)

nan

In [60]:
s

a    12.000000
b     0.845228
c     1.311649
d     0.889418
e     1.287282
dtype: float64

In [61]:
s+s

a    24.000000
b     1.690456
c     2.623299
d     1.778837
e     2.574565
dtype: float64

In [62]:
s*2

a    24.000000
b     1.690456
c     2.623299
d     1.778837
e     2.574565
dtype: float64

In [63]:
np.exp(s)

a    162754.791419
b         2.328508
c         3.712291
d         2.433714
e         3.622927
dtype: float64

### Name attribute in Series

In [72]:
s = pd.Series(np.random.randn(5), name='my_random_series')

In [73]:
s

0    0.389723
1    0.696272
2   -1.354513
3   -0.837806
4    0.993074
Name: my_random_series, dtype: float64

In [74]:
s.name

'my_random_series'

#### Rename

In [75]:
s2 = s.rename("my_renamed_random_series")

In [76]:
s2

0    0.389723
1    0.696272
2   -1.354513
3   -0.837806
4    0.993074
Name: my_renamed_random_series, dtype: float64

In [77]:
s2.name

'my_renamed_random_series'

### DataFrame
A dictionary can be called as 
1. dictionary of 1D array, list, dict or Series
2. 2-D numpy.ndarray
3.

In [96]:
# creating dataframes from dictionary
d = {
    "one": pd.Series([1.0,2.0,3.0], index=["a","b","c"]),
    "two":pd.Series([1.0,2.0,3.0,4.0], index=["a","b","c","d"]),
}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [81]:
pd.DataFrame(d, index=["d","a"])

   one  two
d  NaN  4.0
a  1.0  1.0

In [82]:
pd.DataFrame(d, index=["d","b","a"], columns=["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [91]:
pd.DataFrame({"name":["Rohan","Ravi"],"age":[23,40]})

    name  age
0  Rohan   23
1   Ravi   40

In [92]:
# columns values override the dictionary keys when passed sepe
pd.DataFrame({"name":["Rohan","Ravi"],"age":[27,30]}, columns = ["NAME", "AGE"])

Empty DataFrame
Columns: [NAME, AGE]
Index: []

In [93]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [94]:
df.columns

Index(['one', 'two'], dtype='object')