In [ ]:
Fill in the `...` below so that the function `correct_` applies
  - The `parse_stocks` function to `df` when `_type == "stocks"`
  - The `parse_transports` function to `df` when `_type == "transports"`
  - The `parse_releases` function otherwise
 
```python

In [ ]:
def correct_(df: DataFrame, _type: str) -> DataFrame:
    choices = {
        "stocks": parse_stocks,
        "transports": parse_transports
    }
    if _type == 'parse_stocks':
        df.apply(choices["stocks"])
    elif _type == 'parse_transports':
        df.apply(choices["parse_transports"])
    else:
        parse_releases(df)
    return parse(df)

In [ ]:
Finish this code to get, **within** a subject, the best student in a subject. Multiple marks need to be averaged!
```python
df = spark.createDataFrame(
  [
      ["student_1", "math", 78],
      ["student_1", "math", 53],
      ["student_2", "math", 55],
      ["student_1", "english", 40],
      ["student_2", "english", 53],
      ["student_2", "english", 55],
      ["student_3", "english", 85],
      ["student_3", "math", 59],
  ],
    schema=["student", "subject", "mark"]
)
```

In [ ]:
from pyspark.sql.function import avg
df.groupBy('subject').agg(avg('mark')).alias('avg_marks').orderBy('avg_marks',desc).limit(1)