In [4]:
import pandas as pd
df = pd.read_csv('D:/Work/Coding/wards.csv')
df.head()

   Sr. No. Name of Ward Councillors             Contact No. Ward No.
0        1       Smt. Chhatiya Devi              8877806915   Ward-1
1        2       Smt. Babita Kumari  9471422265, 9931000117   Ward-2
2        3         Smt. Prabha Devi              9304992501   Ward-3
3        4           Smt. Usha Devi  8969610777, 9905993643   Ward-4
4        5      Smt. Dipa Rani Khan              9304246214   Ward-5

In [7]:
df[df['Ward No.'] == 'Ward-11']

    Sr. No. Name of Ward Councillors Contact No. Ward No.
10       11         Sri Ravi Prakash  7856930591  Ward-11

In [8]:
import pywhatkit as kit
import time
kit.sendwhatmsg("+916204561132", "Hello", 11, 7)

ModuleNotFoundError: No module named 'pywhatkit'

In [9]:
import pywhatkit as kit

ModuleNotFoundError: No module named 'pywhatkit'