In [4]:
# creating an empty daaframe

import pandas as pd
df_empty = pd.DataFrame()
df_empty

Empty DataFrame
Columns: []
Index: []

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame
None

In [9]:
# creating a dataframe from lists
import pandas as pd
data = [10, 20, 30, 40, 50]
df1 = pd.DataFrame(data=data, columns=['Numbers'])
df1

   Numbers
0       10
1       20
2       30
3       40
4       50

In [10]:
# creating a dataframe from a dictionary

import pandas as pd
data = {'Name':['John', 'Tim', 'Rob'], 'Age':[34, 23, 42]}

df = pd.DataFrame(data=data)
df

   Name  Age
0  John   34
1   Tim   23
2   Rob   42

In [14]:
import pandas as pd
import numpy as np

data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'First_Name': ['John', 'Alice', 'Bob', 'Eva', 'Silvester'],
    'Last_Name': ['Smith', 'Johnson', 'Brown', 'Davis', 'Smith'],
    'Birth_Date': ['1990-05-15', '1995-03-20', '1985-09-10', '1992-11-25', '1970-04-23'],
    'Hire_Date': pd.to_datetime(['2020-07-01', '2018-04-15', '2015-10-03', '2019-02-12', '2012-06-07']),
    'Salary': [55000.0, 60000.5, 48000.75, 62000.25, 1640000.0],
    'Active': [True, True, False, True, False],
    'Department': ['HR', 'Engineering', 'Finance', 'Marketing', 'HR']
}

df = pd.DataFrame(data)
df.head()

,Employee_ID,First_Name,Last_Name,Birth_Date,Hire_Date,Salary,Active,Department
0,101,John,Smith,1990-05-15,2020-07-01,55000.00,True,HR
1,102,Alice,Johnson,1995-03-20,2018-04-15,60000.50,True,Engineering
2,103,Bob,Brown,1985-09-10,2015-10-03,48000.75,False,Finance
3,104,Eva,Davis,1992-11-25,2019-02-12,62000.25,True,Marketing
4,105,Silvester,Smith,1970-04-23,2012-06-07,1640000.00,False,HR

In [15]:
# size of a dataframe - rows * columns
print(df.size)

40

In [16]:
# shape of a dataframe - no of rows and columns
print(df.shape)

(5, 8)

In [29]:
print(df.dtypes)

Data      object
Labels    object
dtype: object

In [17]:
# to return the memory usasge of a dataframe for each column in bytes
df.memory_usage()

Index          132
Employee_ID     40
First_Name      40
Last_Name       40
Birth_Date      40
Hire_Date       40
Salary          40
Active           5
Department      40
dtype: int64

In [18]:
# to get a concise summary of a dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee_ID  5 non-null      int64
 1   First_Name   5 non-null      object
 2   Last_Name    5 non-null      object
 3   Birth_Date   5 non-null      object
 4   Hire_Date    5 non-null      datetime64[ns]
 5   Salary       5 non-null      float64
 6   Active       5 non-null      bool
 7   Department   5 non-null      object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 417.0+ bytes

In [19]:
df.describe()

       Employee_ID            Hire_Date        Salary
count     5.000000                    5  5.000000e+00
mean    103.000000  2017-03-20 14:24:00  3.730003e+05
min     101.000000  2012-06-07 00:00:00  4.800075e+04
25%     102.000000  2015-10-03 00:00:00  5.500000e+04
50%     103.000000  2018-04-15 00:00:00  6.000050e+04
75%     104.000000  2019-02-12 00:00:00  6.200025e+04
max     105.000000  2020-07-01 00:00:00  1.640000e+06
std       1.581139                  NaN  7.082950e+05

In [20]:
for index, value in df.iterrows():
    print(index, value)

0 Employee_ID                    101
First_Name                    John
Last_Name                    Smith
Birth_Date              1990-05-15
Hire_Date      2020-07-01 00:00:00
Salary                     55000.0
Active                        True
Department                      HR
Name: 0, dtype: object
1 Employee_ID                    102
First_Name                   Alice
Last_Name                  Johnson
Birth_Date              1995-03-20
Hire_Date      2018-04-15 00:00:00
Salary                     60000.5
Active                        True
Department             Engineering
Name: 1, dtype: object
2 Employee_ID                    103
First_Name                     Bob
Last_Name                    Brown
Birth_Date              1985-09-10
Hire_Date      2015-10-03 00:00:00
Salary                    48000.75
Active                       False
Department                 Finance
Name: 2, dtype: object
3 Employee_ID                    104
First_Name                     Eva
Last_Name                    Davis
Birth_Date              1992-11-25
Hire_Date      2019-02-12 00:00:00
Salary                    62000.25
Active                        True
Department               Marketing
Name: 3, dtype: object
4 Employee_ID                    105
First_Name               Silvester
Last_Name                    Smith
Birth_Date              1970-04-23
Hire_Date      2012-06-07 00:00:00
Salary                   1640000.0
Active                       False
Department                      HR
Name: 4, dtype: object

In [21]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [30, 25, 35]}
df = pd.DataFrame(data)
df

    Name  Age
0   John   30
1  Alice   25
2    Bob   35

In [22]:
# Iterate through rows using a for loop
for index in range(len(df)):
    row = df.loc[index]
    print(row)

Name    John
Age       30
Name: 0, dtype: object
Name    Alice
Age        25
Name: 1, dtype: object
Name    Bob
Age      35
Name: 2, dtype: object

In [23]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with the given format
data = {'Data': ['name1', 'contact1', 'address1', np.nan, 'name2', 'contact2', 'address2', np.nan, 'name3', 'contact3', 'address3', np.nan]}
df = pd.DataFrame(data)
df

        Data
0      name1
1   contact1
2   address1
3        NaN
4      name2
5   contact2
6   address2
7        NaN
8      name3
9   contact3
10  address3
11       NaN

In [24]:
# Forward fill NaN values with method 'ffill' to fill the missing labels
df['Labels'] = df['Data'].fillna(method='ffill')

C:\Users\rohan\AppData\Local\Temp\ipykernel_8476\827236156.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Labels'] = df['Data'].fillna(method='ffill')

In [25]:

# Filter out rows with NaN values in the 'Data' column
df = df[df['Data'].notna()]

# Pivot the DataFrame to reshape it
result_df = df.pivot(index='Labels', columns=None, values='Data').reset_index()

KeyError: None

In [ ]:
# Rename the columns
result_df.columns = ['Name', 'Contact', 'Address']

# Reset the index
result_df.reset_index(drop=True, inplace=True)

# Display the result
print(result_df)